@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Outfit:wght@100..900&family=Roboto+Slab:wght@100..900&family=Roboto:wght@300;400;500;700;900&family=Varela&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit;
}
body{
  min-height: 100vh;
  background-color: #fcfcfc;
}

a{
  text-decoration: none;
}

hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-content{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cursor{
  cursor: pointer;
}